/*----We set all the styles here----*/
html {

}
body {
  margin:0;
  padding:0;
  font-family: "Comic Sans MS", Verdana;
  line-height: 1.5em;
  color: #555;
  font-size: 12px;
}
h1,h2,h3,h4,h5,h6 {
  margin: 8px 0px 10px 0px;
  display: block;
  color: #333;
  font-weight: bold;
}
h1,h2,h3,h4,h5,h6 a:hover{
  color: #555;
}
h1{font-size: 1.8em;}
h2{font-size: 1.6em;}
h3{font-size: 1.5em;}
h4{font-size: 1.4em;}
h5{font-size: 1.3em;}
h6{font-size: 1.1em;}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
  color: #555;
}
p {
  margin: 0 0 0.8em;
}
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
#logo{
  float: left;
  padding: 20px 15px 20px 0px;
}
#site-name {
  float: right;
  padding: 50px 0;
  color: #fff;
}
#site-name a{
  color: #fff;
  text-decoration: none;
}
#site-name a:hover {
  color: #eee;
}
div#container {
  display: block;
  margin: 0px 10% 0px 10%;
  min-width: 960px;
}
div#header {
  display: block;
  width: 100%;
  background-color: #2e317d;
  margin-bottom: 20px;
  height: 120px;
}
div#main-content {
  display: block;
  margin: 10px 10px;
  padding: 50px 40px;
  border-left: 1px solid #ccc;
  width: 100%;
  min-height: 500px;
}
div#content {
  float: left;
  display: block;
  width: 65%;
}
div#footer {
  display: block;
  margin: 10px 10px;
  border-top: 1px solid #ccc;
  width: 100%;
}
div#sidebar {
  display: inline-block;
  float: right;
  clear: right;
  background-color: #eee;
  border-left: 1px solid #ccc;
  padding: 20px;
  width: 25%;
  margin: 10px 10px;
}

